<div >
    <div class="clr-row movie-container">
        <div class="clr-col-6 movie-image-container">
            <div style="width:100%;display: flex;justify-content: center" *ngIf="netflixMovieData && netflixMovieData.id">
                <img [src]="getImageUrl()" alt="" srcset="">
            </div>
            
            <div class="ghost-loader image-container" *ngIf="!netflixMovieData || !netflixMovieData.id">
                <div class="image-placebo"></div>
            </div>

            <div class="clr-row">
                    <div class="play-btn-container">
                            <div>
                                    <button class="btn btn-primary play">
                                        <clr-icon shape="play"></clr-icon> Play
                                    </button>
                                </div>
                    
                                <div>
                                        <button class="btn btn-outline list">
                                            <clr-icon shape="list"></clr-icon>  My List
                                        </button>
                                </div>
                    </div>
                   
                </div>
        </div>

        <div class="clr-col-6 movie-detail-container">
            <div class="movie-title" *ngIf="netflixMovieData.title">
                {{netflixMovieData.title}} <span class="badge badge-orange"> {{netflixMovieData.release_date | date: 'yyyy'}} </span>
            </div>

            <div class="title-width ghost-loader" *ngIf="!netflixMovieData || !netflixMovieData.title ">
                    
            </div>

            <div class="movie-extras">
                <div class="movie-duration" *ngIf="movieRuntimeCalculator()">
                    {{movieRuntimeCalculator()}}
                </div>

                <div class="movie-duration-placebo ghost-loader" *ngIf="!movieRuntimeCalculator()">

                </div>

                <div class="movie-genre" *ngIf="getMovieGenre()">
                    {{getMovieGenre()}}
                </div>

                <div class="movie-genre-placebo ghost-loader" *ngIf="!getMovieGenre()">

                    </div>
            </div>

            

            <div class="imdb-rating" *ngIf="netflixMovieData?.vote_average">
                IMDB Ratings: {{netflixMovieData.vote_average}} 
            </div>

            <div class="imdb-rating-placebo ghost-loader" *ngIf="!netflixMovieData || !netflixMovieData.vote_average">

            </div>

            <div class="movie-overview" *ngIf="netflixMovieData?.overview">
                {{netflixMovieData.overview}}
            </div>

            <div class="movie-overview-placebo ghost-loader" *ngIf="!netflixMovieData || !netflixMovieData.overview ">
                    
             </div>
        </div>
    </div>
</div>

<div class="similar-movie" *ngIf="similarMovie?.results?.length > 0">
    Similar Movies to " {{netflixMovieData.title}} " 
</div>

<div class="similar-movie-container">
    <app-netflix-card-row [netflixDataList] = "similarMovie.results"></app-netflix-card-row>
</div>