<!-- <app-netflix-card [netflixCarData] = "netflixDataToPass"></app-netflix-card> -->
<div class="home-page">
    <div > 
        <div class="browsing-titles" *ngIf="netflixDataToPass?.length > 0">
            Trending Movies
        </div>
        <div class="search-results">
            <app-netflix-card-row [netflixDataList] = "netflixDataToPass"></app-netflix-card-row>
        </div>
    </div>

    <div >
        <div class="browsing-titles" *ngIf="horrorMovieData?.length > 0">
            Horror Movies
        </div>

        <div class="search-results">
            <app-netflix-card-row [netflixDataList] = "horrorMovieData"></app-netflix-card-row>
        </div>
    </div>

    <div >
            <div class="browsing-titles" *ngIf="comedyMovieData?.length > 0">
                Comedy Movies
            </div>
    
            <div class="search-results">
                <app-netflix-card-row [netflixDataList] = "comedyMovieData"></app-netflix-card-row>
            </div>
        </div>

        <div >
                <div class="browsing-titles" *ngIf="crimeMovieData?.length > 0">
                    Crime Movies
                </div>
        
                <div class="search-results" >
                    <app-netflix-card-row [netflixDataList] = "crimeMovieData"></app-netflix-card-row>
                </div>
            </div>

            <div >
                    <div class="browsing-titles" *ngIf="actionMovieData?.length > 0">
                        Action Movies
                    </div>
            
                    <div class="search-results" >
                        <app-netflix-card-row [netflixDataList] = "actionMovieData"></app-netflix-card-row>
                    </div>
                </div>
</div>

<!-- <app-netflix-details></app-netflix-details> -->